@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

#header {
  background-color: #FC3636;
  height: 45vh;
  position: relative;
}

#header::before {
  position: absolute;
  left: 70%;
  top: 50%;
  content: '';
  height: 500px;
  width: 500px;
  background: url(./asset/HeaderDesign.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

#header #oycLogo {
  height: 6rem;
  width: 6rem;
  background: url(./asset/oycLogo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  left: 2.5vw;
}

#header #signIn {
  height: 3rem;
  width: 7rem;
  background: #FF5959;
  text-align: center;
  margin: 1rem 1rem 0 0;
  padding-top: 1rem;
  position: fixed;
  right: 2.5vw;
  border-radius: 300px;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#header #searchHeader {
  background-color: #FC3636;
  padding-top: 10rem;
}

#header #searchHeader #searchForm {
  padding-left: 25vw;
}

#header #searchHeader #searchForm label {
  display: block;
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 2px;
  color: white;
  margin-left: 0.6rem;
}

#header #searchHeader #searchForm #searchInput {
  margin-top: 1rem;
  display: inline-block;
  width: 50vw;
  height: 10vh;
  border-radius: 300px;
  border: none;
  outline: none;
  padding-left: 2rem;
  font-size: 20px;
  font-family: "Overpass", sans-serif;
}

#header #searchHeader #searchForm button {
  position: relative;
  top: -0.2rem;
  left: 1rem;
  height: 70px;
  width: 70px;
  outline: none;
  border: none;
  border-radius: 300px;
  z-index: 1;
  background: url(./asset/Vector.svg);
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
}

#header #searchHeader #searchForm button::before {
  position: absolute;
  top: -0.45rem;
  left: -0.45rem;
  height: 85px;
  width: 85px;
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
  border-radius: 300px;
}

#explorePage #topThree {
  height: 50px;
  width: 100px;
  background-color: #FC3636;
  -webkit-filter: drop-shadow(0px 0px 4px #FC3636);
          filter: drop-shadow(0px 0px 4px #FC3636);
  margin: 2rem 0 0 5rem;
  text-align: center;
  padding-top: 1rem;
  color: white;
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: bold;
  border-radius: 300px;
}

#explorePage #featuredPosts {
  margin: 2rem 0 0 0;
}

#explorePage #featuredPosts .topPosts {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20vw;
  background-color: white;
  margin-left: 5rem;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(196, 196, 196, 0.25);
          box-shadow: 0px 0px 20px 1px rgba(196, 196, 196, 0.25);
}

#explorePage #featuredPosts .topPosts .thumbnail {
  height: 190px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FC3636;
}

#explorePage #featuredPosts .topPosts #thumbnailOne {
  background: url(./asset/placeholder1.svg);
}

#explorePage #featuredPosts .topPosts #thumbnailTwo {
  background: url(./asset/placeholder2.svg);
}

#explorePage #featuredPosts .topPosts #thumbnailThree {
  background: url(./asset/placeholder1.svg);
}

#explorePage #featuredPosts .topPosts .title {
  font-family: "Overpass", sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 1rem 0 1rem 1rem;
}

#explorePage #featuredPosts .topPosts .totalcomment {
  margin: 0 0 2rem 1rem;
  color: #B9B9B9;
}
/*# sourceMappingURL=main.css.map */