@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700;900&display=swap');
@import './functionsAndVariables';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body{
  overflow-x: hidden;
}
#header{
  background-color: $base-orange;
  height: 45vh;
  position: relative;

  &::before{
    position: absolute;
    left: 70%;
    top: 50%;
    content: '';
    height:500px;
    width: 500px;
    background: url(./asset/HeaderDesign.svg);
    // border: 3px solid black;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #oycLogo{
    height: 6rem;
    width: 6rem;
    background: url(./asset/oycLogo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    left: 2.5vw;
  }

  #signIn{
    height: 3rem;
    width: 7rem;
    background: $light-orange;
    text-align: center;
    margin: 1rem 1rem 0 0;
    padding-top: 1rem;
    position: fixed;
    right: 2.5vw;  
    border-radius: 300px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size:16px;
    color: white;
    user-select: none;
    cursor: pointer;
  }


  #searchHeader{
    background-color: $base-orange;
    padding-top: 10rem;

    #searchForm{
      padding-left: 25vw;
      

      label{
        display: block;
        font-family: $base-font;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 2px;
        color: white;
      }

      #searchInput{
        margin-top: 1rem;
        display: inline-block;
        width: 50vw;
        height: 10vh;
        border-radius: 300px;
        border: none;
        outline: none;
        padding-left: 2rem;
      }
      button{
        position: relative;
        top: 2rem;
        left: 1rem;
        height: 70px;
        width: 70px;
        outline: none;
        border: none;
        border-radius: 300px;
        z-index: 1; 
        background: url(./asset/SearchIcon.svg);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        cursor: pointer;

        &::before{
          position: absolute;
          top: -0.45rem;
          left: -0.45rem;
          height: 85px;
          width: 85px;
          background-color: rgba(255, 255, 255, 0.5);
          content: '';
          border-radius: 300px;

        }
      }
    }
  }
}


.clearfloat{
  clear: both;
}